<div id="main" class="w-100 row">
<div class="div" class="col-10 mx-auto">

  <div class="navbar navbar-primary py-5">
  </div>

  <div id="jumbotron" class="text-center">
    <h6 id="countdown" class="text-warning mx-auto">Countdown to Cuhackit!</h6>
    <h1 id="time" class="text-warning mx-auto">{{timetohackathon}}</h1>
  </div>


  <div id="button">
    <button class="btn btn-danger text-light p-5" id="btntext">
      Click here for our <br> <span id="btntext2">Hacker Guide!</span>
    </button>
  </div>

  <div id="table1">
    <h4 class="text-warning">Saturday</h4>
    <div class="row">
      <div class="col ml-5">
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
      </div>
      <div class="col">
        <div class="col ml-5">
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
        </div>
      </div>
    </div>
  </div>

  <div id="table2">
    <h4 class="text-warning">Saturday</h4>
    <div class="row">
      <div class="col ml-5">
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
        <h6 class="my-5 text-primary">Time</h6>
      </div>
      <div class="col">
        <div class="col ml-5">
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
          <h6 class="my-5 text-primary font-weight-bold">Event</h6>
        </div>
      </div>
    </div>
  </div>

  <div id="prizes">
    <h4 class="text-warning">Prizes</h4>
    <div class="row">
      <div class="col">
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
      </div>
      <div class="col">
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
          <div class="my-5">
            <h5 class="text-primary">Title</h5>
            <h6 class="text-warning">Prize</h6>
          </div>
      </div>
    </div>
  </div>

  <div id="emergencycontacts">
    <h4 class="text-warning">Emergency Contacts</h4>
    <div class="row">
      <div class="col-3 offset-3 pt-5 mt-5">
        <div>
          <h5 class="text-warning">Title1</h5>
          <h6 class="text-warning ml-2">Title2</h6>
        </div>
        <div>
          <h5 class="text-warning">Title1</h5>
          <h6 class="text-warning ml-2">Title2</h6>
        </div>
        <div>
          <h5 class="text-warning">Title1</h5>
          <h6 class="text-warning ml-2">Title2</h6>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
