html, body
  max-width: 100%
  overflow-x: hidden
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.container-fluid
  display: flex

#main
  background-image: url("../bg.svg")
  background-repeat: no-repeat
  background-size: cover
  height: 8700px

button
    border-radius: 40px !important

// general font sizes

h1,h2,h3,h4,h5,h6,button
  font-family: titling-gothic-fb
  font-weight: 400
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 150px) / (1600 - 150)))
h4
  font-size: calc(65px + (140 - 80) * ((100vw - 150px) / (1600 - 150)))
h5
  font-size: calc(20px + (60 - 20) * ((100vw - 150px) / (1600 - 150)))
h6
  font-size: calc(10px + (45 - 15) * ((100vw - 150px) / (1600 - 150)))
  padding-left: 6px
  margin-top: 10px

// specific font sizes

#jumbotron h6
  font-size: calc(28px + (200 - 90) * ((100vw - 150px) / (1600 - 150)))
#jumbotron h1
  font-size: calc(25px + (180 - 105) * ((100vw - 150px) / (1600 - 150)))
#prizes h5
  font-size: calc(16px + (28 - 16) * ((100vw - 150px) / (1600 - 150)))
#prizes span
  font-size: calc(11px + (18 - 11) * ((100vw - 150px) / (1600 - 150)))
#emergencycontacts h4
  font-size: calc(40px + (130 - 58) * ((100vw - 150px) / (1600 - 150)))
#emergencycontacts h5
  font-size: calc(30px + (28 - 16) * ((100vw - 150px) / (1600 - 150)))
  padding-left: 6px
#emergencycontacts h6
  font-size: calc(30px + (28 - 16) * ((100vw - 150px) / (1600 - 150)))
  padding-left: 6px
#time
  font-size: 340px
#countdown
  font-size: 90px
#btntext
  font-size: 26px
#btntext2
  font-size: 40px

// positioning for sections

#jumbotron
  position: absolute
  top: 200px
  text-align: center
#button
  position: absolute
  top: 1250px
#table1
  position: absolute
  top: 1700px
  white-space: nowrap
  min-width: 80%
#table2
  position: absolute
  top: 2900px
  margin-top: 100px
  white-space: nowrap
  min-width: 80%
#prizes
  position: absolute
  top: 4900px
#emergencycontacts
  position: absolute
  top: 6500px
#contact
  position: absolute
  top: 8350px
  align: center
  border: 1px solid rgba(255, 0, 0, 0)
#contact-buttons
  margin-left: calc(20px + (500 - 20) * ((100vw - 200px) / (1600 - 200)))
.contact-link:hover > span > .contact-circle
  transform: scale(2)
  transition: .5s ease-in-out
.contact-link:hover > span > .contact-logo
  transform: scale(2)
  transition: .5s ease-in-out
